* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: rgb(247, 247, 247);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background-blend-mode: multiply;
  background-size: cover;
  background:
    url(assets/images/bg_day.jpg),
    rgba(0, 0, 0, 0.7);
}
