.button-three {
  position: relative;
  background-color: #71a3c0;
  border: none;
  padding: 10px;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
}

.button-three:hover{
  background:#fff;
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;
}

.button-three:after {
  content: "";
  background: #71a3f4;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button-three:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
